<div class="container-form">

  <h1 mat-dialog-title>Novo cadastro</h1>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="userForm">
      <div class="container-contato" fxLayout="row wrap">

        <mat-form-field class="example-full-width">
          <mat-label>Nome do Tutor</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="NomeTutor"
            name="NomeTutor"
          />
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="" formControlName="CPF" name="CPF" />
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="Telefone"
            name="Telefone"
          />
        </mat-form-field>
      </div>
  
      <div fxLayout="row wrap">
        <div fxFlex="50" fxFill fxLayoutAlign="start center">
          <mat-form-field class="example-full-width">
            <mat-label>Nome do Pet</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="NomePet"
              name="NomePet"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Espécie do Pet</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="Especie"
              name="Especie"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Idade do Pet</mat-label>
            <input type="number" matInput placeholder="" formControlName="Idade" name="Idade" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Porte do Pet</mat-label>
            <input matInput placeholder="" formControlName="Porte" name="Porte" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="createLive()" >Adicionar</button>
  </div>
</div>
